.about{
  /*our-stories*/
  .big-icon{
    margin-right: 25px;
  }
  .our-stories{
    /*our-stories__content*/
    &__content{
      .inline-block;
      max-width: 495px;
    }
  }
  /*text-red*/
  .text-red{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    color: @text-red;
  }
}