/*main-header-wrapper*/
.main-header-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 600px;
  /*main-slider*/
  .main-slider {
    width: 100%;
    height: 100%;
    .slick-list{
      height: 100%;
    }
    .slick-track{
      height: 100%;
    }
    &__item {
      width: 100%;
      height: 100%;
      background: url("../img/main-slider1.jpg") no-repeat center;
      background-size: cover;
      &:nth-of-type(2) {
        background-image: url("../img/main-slider2.jpg");
      }
      &:nth-of-type(3) {
        background-image: url("../img/main-slider3.jpg");
      }
    }
  }
}
/*main-slider__caption*/
.main-slider__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 925px;
  font-weight: 700;
  color: @text-white;
  transform: translate(-50%, -50%);
  /*title-small*/
  .title-small{
    font-size: 45px;
    line-height: 50px;
    &:last-of-type{
      margin-bottom: 80px;
    }
  }
  /*title-big*/
  .title-big{
    font-size: 70px;
    line-height: 80px;
  }
}
/*main-header*/
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  width: 100%;
  z-index: 2000;
  @media screen and (max-width: @md-width ) {
    background: linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 100%);
  }
  /*container*/
  .container{
    position: relative;
  }
  /*main-menu*/
  .main-menu{
    height: 100px;
    text-align: right;
    z-index: 1005;
    @media screen and (max-width: @md-width ) {
      display: none;
      height: 600px;
    }
    /*main-menu__item*/
    &__item{
      position: relative;
      .inline-block;
      padding: 0 45px;
      .opensans;
      font-size: 18px;
      font-weight: 500;
      line-height: 150px;
      text-transform: uppercase;
      color: @text-white;
      transition: all 1s;
      @media screen and (max-width: @lg-width ) {
         padding: 0 25px;
      }
      @media screen and (min-width: @md-width ) {
        display: inline-block !important;
      }
      @media screen and (max-width: @md-width ) {
        display: block;
        padding: 10px 0;
        font-size: 22px;
        line-height: 100px;
        text-align: center;
      }
      &:hover{
        text-decoration: none;
        color: @text-black;
        @media screen and (max-width: @md-width ) {
          background: lightskyblue;
        }
      }
      &::after{
        content: '//';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        color: @text-white;
        @media screen and (max-width: @md-width ) {
          content: '';
        }
      }
      &:last-of-type{
        padding-right: 0;
        &::after{
          content: '';
        }
      }
    }
  }
  /*logo*/
  .logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    .montserrat;
    font-size: 45px;
    font-weight: bold;
    line-height: 150px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    @media screen and (max-width: @md-width ) {
      width: 100px;
      height: 100px;
      font-size: 24px;
      line-height: 100px;
    }
  }
  /*main-menu__bar*/
  .main-menu__bar{
    position: relative;
    font-size: 48px;
    text-align: center;
    line-height: 100px;
    color: @text-white;
    @media screen and (min-width: @md-width ) {
      display: none;
    }
    .show-main-menu{
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translate(0, -50%);
      font-family: FontAwesome;
      font-size: 50px;
      color: #fff;
      .fa{
        cursor: pointer;
      }
    }
  }
}
