html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  .opensans;
  font-size: @regular;
  line-height: 28px;
  color: @text-gray;
  background: url("../img/body-bg-image.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*titles*/
h1,
h2,
h3,
h4{
  margin: 0;
  padding: 0;
}
/*buttons*/
a.button {
  .inline-block;
  width: 160px;
  height: 45px;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  color: @text-white;
  border: 2px solid @border-yellow;
  border-radius: 5px;
  transition: all 1s;
  &:hover {
    text-decoration: none;
    background: none;
  }
}

a.button-yellow {
  background: @bg-yellow;
}
a.yellow{
  color: @text-yellow;
}
/*section*/
.section {
  padding: 100px 0;
  background: @bg-white;
  &__header{
    margin-bottom: 150px;
  }
  /*section__title*/
  &__title {
    font-size: 30px;
    line-height: 88px;
    font-weight: bold;
    text-transform: uppercase;
    color: @text-black;
    @media screen and (max-width: @md-width ) {
      margin-bottom: 50px;
      text-align: center;
    }
    &-middle{
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: @text-black;
    }
  }
  /*section__content*/
  &__content{
    position: relative;
    padding-left: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: @text-gray-dark;
    @media screen and (max-width: @md-width ) {
      margin-bottom: 100px;
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 4px;
      height: 100%;
      background: @bg-yellow;
    }
  }
}

/*no-bg*/
.no-bg{
  position: relative;
  height: 700px;
  background: none;
}


/*triangle-up*/
.triangle-up {
    position: absolute;
    top: -1px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid @bg-white;
    border-right: 100vw solid transparent;
}

/*triangle-down*/
.triangle-down {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid @bg-white;
    border-left: 100vw solid transparent;
}


/*icons*/
.big-icon{
  position: relative;
  .inline-block;
  width: 124px;
  height: 124px;
  text-align: center;
  border: 2px solid @border-yellow;
  border-radius: 50%;
  transition: all .6s;
  &:hover{
    border-color: @border-white;
    cursor: pointer;
  }
  .fa{
    font-size: 28px;
    line-height: 124px;
    color: @text-white;
    transition: all .6s;
  }
  &:hover .fa{
    color: @text-yellow;
  }

}
.small-icon{
  position: relative;
  .inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid @border-yellow;
  overflow: hidden;
}

/*video*/
.myvideo {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  border:1px solid #ccc;
}
.myvideo iframe,
.myvideo object,
.myvideo embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/*img*/
img{
  max-width: 100%;
  height: auto;
}


