/*OpenSans*/
@font-face {
  font-family: 'Open', sans-serif;
  src: url('fonts/OpenSansRegular.eot');
  src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
  url('fonts/OpenSansRegular.woff2') format('woff2'),
  url('fonts/OpenSansRegular.woff') format('woff'),
  url('fonts/OpenSansRegular.ttf') format('truetype'),
  url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
/*OpenSans-bold*/
@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url('fonts/OpenSansBold.eot');
  src: url('fonts/OpenSansBold.eot') format('embedded-opentype'),
  url('fonts/OpenSansBold.woff2') format('woff2'),
  url('fonts/OpenSansBold.woff') format('woff'),
  url('fonts/OpenSansBold.ttf') format('truetype'),
  url('fonts/OpenSansBold.svg#OpenSansBold') format('svg');
  font-weight: 700;
}
/*OpenSans-light*/
@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url('fonts/OpenSansLight.eot');
  src: url('fonts/OpenSansLight.eot') format('embedded-opentype'),
  url('fonts/OpenSansLight.woff2') format('woff2'),
  url('fonts/OpenSansLight.woff') format('woff'),
  url('fonts/OpenSansLight.ttf') format('truetype'),
  url('fonts/OpenSansLight.svg#OpenSansLight') format('svg');
  font-weight: 300;
}
/*OpenSans-semibold*/
@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url('fonts/OpenSansSemibold.eot');
  src: url('fonts/OpenSansSemibold.eot') format('embedded-opentype'),
  url('fonts/OpenSansSemibold.woff2') format('woff2'),
  url('fonts/OpenSansSemibold.woff') format('woff'),
  url('fonts/OpenSansSemibold.ttf') format('truetype'),
  url('fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
  font-weight: 500;
}
/*Montserrat bold*/
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('fonts/MontserratBold.eot');
  src: url('fonts/MontserratBold.eot') format('embedded-opentype'),
  url('fonts/MontserratBold.woff2') format('woff2'),
  url('fonts/MontserratBold.woff') format('woff'),
  url('fonts/MontserratBold.ttf') format('truetype'),
  url('fonts/MontserratBold.svg#MontserratBold') format('svg');
  font-weight: 700;
}


