
/*font-size
============================*/
@regular: 14px;


/* color
======================================== */
@text-white: #fff;
@text-black: #0d0d0d;
@text-gray-dark: #4c4c4c;
@text-gray: #737373;
@text-red: #e74c3c;
@text-yellow: #f39c12;


/* bg
=================================== */
@bg-white: #fff;
@bg-yellow: #f39c12;
@bg-red: #e74c3c;


/* border
=========================== */
@border-yellow: #f39c12;

/* media
 =================*/
@lg-width: 1200px;
@md-width: 992px;
@sm-width: 768px;
@xs-width: 480px;

